<button (click)="isShowMan = !isShowMan">Скрыть/показать мужика</button>
<img *ngIf="isShowMan" src="../assets/Rectangle 5.png" alt="" />

<div class="container">
  <div class="information">
    <img src="../assets/inf.svg" alt="" />
    <div class="text">
      <div class="tittle">Большой ассортимент</div>
      <div class="subtittle">строительных материалов всегда в наличии</div>
    </div>
  </div>

  <div class="information">
    <img src="../assets/inf2.svg" alt="" />
    <div class="text">
      <div class="tittle">Доставка стройматериалов</div>
      <div class="subtittle">
        в течении четырех часов или в любое удобное время
      </div>
    </div>
  </div>

  <div class="information">
    <img src="../assets/inf3.svg" alt="" />
    <div class="text">
      <div class="tittle">Многоуровневая система</div>
      <div class="subtittle">управления качеством по стандарту ISO 9001</div>
    </div>
  </div>
</div>

<div class="container2">
  <div class="sliders">
    <button class="slider active" *ngFor="let item of Pages">{{ item }}</button>
  </div>
</div>
<div class="cards-grid">
  <div class="card-left">
    <div class="card-tittle">Строительный отделочный инструмент</div>
    <div class="card-array">
      <p class="card-text-button">Перейти в каталог</p>
      <div class="card-button"><img src="../assets/arrow.svg" alt="" /></div>
    </div>
    <img class="card-left-img" src="../assets/image19.png" alt="" />
  </div>
  <div class="cards-right">
    <div class="card-right">
      <div class="card-tittle-right">Эмали</div>
      <div class="card-array">
        <p class="card-text-button">Перейти в каталог</p>
        <div class="card-button"><img src="../assets/arrow.svg" alt="" /></div>
      </div>
      <img class="card1" src="../assets/image14.png" alt="" />
    </div>
    <div class="card-right">
      <div class="card-tittle-right-all">Лакокрасочные материалы</div>
      <div class="card-array-left">
        <p class="card-text-button">Перейти в каталог</p>
        <div class="card-button"><img src="../assets/arrow.svg" alt="" /></div>
      </div>
      <img class="card2" src="../assets/image17.png" alt="" />
    </div>
    <div class="card-right">
      <div class="card-tittle-right-all">Пены, клеи и <br />герметики</div>
      <div class="card-array-left">
        <p class="card-text-button">Перейти в каталог</p>
        <div class="card-button"><img src="../assets/arrow.svg" alt="" /></div>
      </div>
      <img class="card3" src="../assets/image18.png" alt="" />
    </div>
    <div class="card-right">
      <div class="card-tittle-right-all">Эмали</div>
      <div class="card-array">
        <p class="card-text-button">Перейти в каталог</p>
        <div class="card-button"><img src="../assets/arrow.svg" alt="" /></div>
      </div>
      <img class="card4" src="../assets/image15.png" alt="" />
    </div>
  </div>
</div>

<div class="slider-container">
  <div class="container-slider-tittle">
    <p class="tittle-slider">Популярные товары</p>
    <a href="./" class="tittle-slider-right">Посмотреть все товары</a>
  </div>

  <button class="slider-button">
    <img class="buttonleft" src="../assets/buttonleft.svg" alt="" />
  </button>
  <div class="cards-slider">
    <div class="card">
      <div class="card-image">
        <img src="../assets/heartcard.svg" alt="" class="image-heart" />
        <img src="../assets/sale.svg" alt="" class="image-sale" />
        <img class="image" src="../assets/disk.svg" alt="" />
      </div>
      <div class="card-details">
        <p class="item-name">Круг зачистной 125х6х22</p>
        <p class="item-articul">Артикул 00004</p>
        <p class="item-price">Цена за штуку</p>
        <div class="price-container">
          <span class="old-price">52 руб.</span>
          <span class="new-price">48 руб.</span>
        </div>
        <div class="quantity-container">
          <div class="container-counter">
            <div class="container-counter-first">
              <span class="item-quantity">Количество</span>
              <div class="minusplus">
                <button class="decrease">-</button>
                <p class="quantity">1</p>
                <button class="increase">+</button>
              </div>
            </div>

            <button class="add-to-cart">В корзину</button>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-slider">
      <div class="card">
        <div class="card-image">
          <img src="../assets/heartcard.svg" alt="" class="image-heart" />
          <img src="../assets/sale.svg" alt="" class="image-sale" />
          <img class="image" src="../assets/disk.svg" alt="" />
        </div>
        <div class="card-details">
          <p class="item-name">Круг зачистной 125х6х22</p>
          <p class="item-articul">Артикул 00004</p>
          <p class="item-price">Цена за штуку</p>
          <div class="price-container">
            <span class="old-price">52 руб.</span>
            <span class="new-price">48 руб.</span>
          </div>
          <div class="quantity-container">
            <div class="container-counter">
              <div class="container-counter-first">
                <span class="item-quantity">Количество</span>
                <div class="minusplus">
                  <button class="decrease">-</button>
                  <p class="quantity">1</p>
                  <button class="increase">+</button>
                </div>
              </div>

              <button class="add-to-cart">В корзину</button>
            </div>
          </div>
        </div>
      </div>
      <div class="cards-slider">
        <div class="card">
          <div class="card-image">
            <img src="../assets/heartcard.svg" alt="" class="image-heart" />
            <img src="../assets/sale.svg" alt="" class="image-sale" />
            <img class="image" src="../assets/disk.svg" alt="" />
          </div>
          <div class="card-details">
            <p class="item-name">Круг зачистной 125х6х22</p>
            <p class="item-articul">Артикул 00004</p>
            <p class="item-price">Цена за штуку</p>
            <div class="price-container">
              <span class="old-price">52 руб.</span>
              <span class="new-price">48 руб.</span>
            </div>
            <div class="quantity-container">
              <div class="container-counter">
                <div class="container-counter-first">
                  <span class="item-quantity">Количество</span>
                  <div class="minusplus">
                    <button class="decrease">-</button>
                    <p class="quantity">1</p>
                    <button class="increase">+</button>
                  </div>
                </div>

                <button class="add-to-cart">В корзину</button>
              </div>
            </div>
          </div>
        </div>
        <div class="cards-slider">
          <div class="card">
            <div class="card-image">
              <img src="../assets/heartcard.svg" alt="" class="image-heart" />
              <img src="../assets/sale.svg" alt="" class="image-sale" />
              <img class="image" src="../assets/disk.svg" alt="" />
            </div>
            <div class="card-details">
              <p class="item-name">Круг зачистной 125х6х22</p>
              <p class="item-articul">Артикул 00004</p>
              <p class="item-price">Цена за штуку</p>
              <div class="price-container">
                <span class="old-price">52 руб.</span>
                <span class="new-price">48 руб.</span>
              </div>
              <div class="quantity-container">
                <div class="container-counter">
                  <div class="container-counter-first">
                    <span class="item-quantity">Количество</span>
                    <div class="minusplus">
                      <button class="decrease">-</button>
                      <p class="quantity">1</p>
                      <button class="increase">+</button>
                    </div>
                  </div>

                  <button class="add-to-cart">В корзину</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="slider-button-right">
    <img class="buttonleft" src="../assets/buttonright.svg" alt="" />
  </button>
</div>

<div class="container-cotalog">
  <div class="cotalog-discriton">
    <div>
      <p class="cotalog-tittle">Более 10 000 наименований</p>
      <p class="cotalog-subtittle">
        Инструмент для вашего бизнеса, разнообразных марок
      </p>
    </div>

    <a class="cotalog-href" href="">Перейти в каталог</a>
  </div>
  <img src="../assets/photo.png" alt="" />
</div>

<div class="slider-container">
  <div class="container-slider-tittle">
    <p class="tittle-slider">Новинки</p>
    <a href="./" class="tittle-slider-right">Посмотреть все товары</a>
  </div>

  <button class="slider-button">
    <img class="buttonleft" src="../assets/buttonleft.svg" alt="" />
  </button>
  <div class="cards-slider">
    <div class="card">
      <div class="card-image">
        <img src="../assets/heartcard.svg" alt="" class="image-heart" />
        <img src="../assets/new.svg" alt="" class="image-sale" />
        <img class="image" src="../assets/disk.svg" alt="" />
      </div>
      <div class="card-details">
        <p class="item-name">Круг зачистной 125х6х22</p>
        <p class="item-articul">Артикул 00004</p>
        <p class="item-price">Цена за штуку</p>
        <div class="price-container">
          <span class="old-price">52 руб.</span>
          <span class="new-price">48 руб.</span>
        </div>
        <div class="quantity-container">
          <div class="container-counter">
            <div class="container-counter-first">
              <span class="item-quantity">Количество</span>
              <div class="minusplus">
                <button class="decrease">-</button>
                <p class="quantity">1</p>
                <button class="increase">+</button>
              </div>
            </div>

            <button class="add-to-cart">В корзину</button>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-slider">
      <div class="card">
        <div class="card-image">
          <img src="../assets/heartcard.svg" alt="" class="image-heart" />
          <img src="../assets/new.svg" alt="" class="image-sale" />
          <img class="image" src="../assets/disk.svg" alt="" />
        </div>
        <div class="card-details">
          <p class="item-name">Круг зачистной 125х6х22</p>
          <p class="item-articul">Артикул 00004</p>
          <p class="item-price">Цена за штуку</p>
          <div class="price-container">
            <span class="old-price">52 руб.</span>
            <span class="new-price">48 руб.</span>
          </div>
          <div class="quantity-container">
            <div class="container-counter">
              <div class="container-counter-first">
                <span class="item-quantity">Количество</span>
                <div class="minusplus">
                  <button class="decrease">-</button>
                  <p class="quantity">1</p>
                  <button class="increase">+</button>
                </div>
              </div>

              <button class="add-to-cart">В корзину</button>
            </div>
          </div>
        </div>
      </div>
      <div class="cards-slider">
        <div class="card">
          <div class="card-image">
            <img src="../assets/heartcard.svg" alt="" class="image-heart" />
            <img src="../assets/new.svg" alt="" class="image-sale" />
            <img class="image" src="../assets/disk.svg" alt="" />
          </div>
          <div class="card-details">
            <p class="item-name">Круг зачистной 125х6х22</p>
            <p class="item-articul">Артикул 00004</p>
            <p class="item-price">Цена за штуку</p>
            <div class="price-container">
              <span class="old-price">52 руб.</span>
              <span class="new-price">48 руб.</span>
            </div>
            <div class="quantity-container">
              <div class="container-counter">
                <div class="container-counter-first">
                  <span class="item-quantity">Количество</span>
                  <div class="minusplus">
                    <button class="decrease">-</button>
                    <p class="quantity">1</p>
                    <button class="increase">+</button>
                  </div>
                </div>

                <button class="add-to-cart">В корзину</button>
              </div>
            </div>
          </div>
        </div>
        <div class="cards-slider">
          <div class="card">
            <div class="card-image">
              <img src="../assets/heartcard.svg" alt="" class="image-heart" />
              <img src="../assets/new.svg" alt="" class="image-sale" />
              <img class="image" src="../assets/disk.svg" alt="" />
            </div>
            <div class="card-details">
              <p class="item-name">Круг зачистной 125х6х22</p>
              <p class="item-articul">Артикул 00004</p>
              <p class="item-price">Цена за штуку</p>
              <div class="price-container">
                <span class="old-price">52 руб.</span>
                <span class="new-price">48 руб.</span>
              </div>
              <div class="quantity-container">
                <div class="container-counter">
                  <div class="container-counter-first">
                    <span class="item-quantity">Количество</span>
                    <div class="minusplus">
                      <button class="decrease">-</button>
                      <p class="quantity">1</p>
                      <button class="increase">+</button>
                    </div>
                  </div>

                  <button class="add-to-cart">В корзину</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="slider-button-right">
    <img class="buttonleft" src="../assets/buttonright.svg" alt="" />
  </button>
</div>
