* {
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  align-items: center;
  height: 80px;
  background-color: #4b565e;
  display: flex;
  justify-content: space-between;
  padding: 0 240px;
  color: white;
  font-family: "Inter", sans-serif;
}

.header-left {
  display: flex;
}

.header-item {
  margin-right: 20px;
  cursor: pointer;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  align-items: center;
  margin-right: 20px;
}

.header-right {
  display: flex;
  align-items: center;
}

.header-contact {
  display: flex;
  align-items: center;
}

.logo-contact {
  margin-right: 10px;
}

.header-like {
  margin: 0 40px;
}

.header-items {
  display: flex;
  align-items: center;
}

.header-cart {
  display: flex;
  align-items: center;
  border: 1px solid #f0ba4e;
  border-radius: 50px;
  padding: 10px 20px;
}

.header-cart-logo {
  margin-right: 10px;
}

.top-bar {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  display: flex;
  justify-content: space-between;
  padding: 0 240px;
  background-color: #f0ba4e;
}

.top-bar-left {
  display: flex;
  align-items: center;
}

.top-bar-item {
  margin-right: 24px;
}

.top-bar-right {
  display: flex;
  align-items: center;
}

.location {
  margin-left: 15px;
}

.top-bar-right-search {
  display: flex;
  align-items: center;
}

.top-bar-search {
  font-size: 14px;
  font-weight: 400;
  width: 376px;
}

.top-bar-search::placeholder {
  color: #3c3c3b;
}
