.container-formTodo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.content-formTodo {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px;
  text-align: center;
  align-items: center;
}

.form-todo {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 300px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2),
    /* Верхняя и нижняя тень */ 0 6px 20px rgba(0, 0, 0, 0.15);
}

.formTodo-input {
  margin: 5px;
  padding: 3px 3px; /* Внутренний отступ */
  font-size: 1rem; /* Размер текста */
  border: 1px solid #ccc; /* Светло-серая рамка */
  border-radius: 5px; /* Закруглённые углы */
  outline: none; /* Убираем подсветку */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-todo button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: red;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-todo button:disabled {
  background-color: rgb(243, 105, 105);
}
.errorTodo {
  font-size: 12px;
  color: red;
}
