.container-formTodo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.content-formTodo {
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;
}

.form-todo {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 400px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2),
    /* Верхняя и нижняя тень */ 0 6px 20px rgba(0, 0, 0, 0.15);
}
