<div class="container-form">
  <form action="" class="form" [formGroup]="form" (ngSubmit)="submitForm()">
    <h1>CREATE USER FORM</h1>
    <div class="content-form">
      <p>Name</p>
      <input type="text" class="form-input" formControlName="name" />
      <div
        class="error"
        *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty||form.controls['name'].touched)"
      >
        <div *ngIf="form.controls['name'].errors">Имя введено неправильно</div>
      </div>
      <p>email</p>
      <input type="text" class="form-input" formControlName="email" />
      <div
        class="error"
        *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty||form.controls['email'].touched)"
      >
        <div *ngIf="form.controls['email'].errors">
          Email введен неправильно
        </div>
      </div>
      <p>website</p>
      <input type="text" class="form-input" formControlName="website" />
      <div
        class="error"
        *ngIf="form.controls['website'].invalid && (form.controls['website'].dirty||form.controls['website'].touched)"
      >
        <div *ngIf="form.controls['website'].errors">
          Website введен неправильно
        </div>
      </div>
      <p>Company</p>
      <input type="text" class="form-input" formControlName="companyName" />
      <div
        class="error"
        *ngIf="form.controls['companyName'].invalid && (form.controls['companyName'].dirty||form.controls['companyName'].touched)"
      >
        <div *ngIf="form.controls['companyName'].errors">
          Имя компании введено неправильно
        </div>
      </div>
      <button type="submit" [disabled]="form.invalid">Create user</button>
    </div>
  </form>
</div>
