.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 15px;
}

.create-form button {
  margin-top: 20px;

  padding: 10px 20px;
}

.create-form {
  display: flex;

  flex-direction: column;

  text-align: center;

  align-items: center;

  height: 550px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.15);
  width: max-content;
}
