<mat-card-header>
  <mat-card-title>{{ user.name | customUpperCase }}</mat-card-title>
  <mat-card-subtitle>{{ user.company.name }}</mat-card-subtitle>
</mat-card-header>

<mat-card-content>
  <p>Email: {{ user.email }}</p>
  <p>Website: {{ user.website }}</p>
  <p>Number: {{ user.phone | clearNumberPipe }}</p>
</mat-card-content>

<mat-card-actions>
  <button
    mat-raised-button
    color="warn"
    (click)="openDeleteConfirmationDialog(user.id)"
  >
    Удалить
  </button>
  <button
    matTooltip="Редактировать данные пользователя"
    mat-raised-button
    color="primary"
    (click)="openDialog()"
  >
    Редактировать
  </button>
</mat-card-actions>
