<app-header></app-header>

<router-outlet></router-outlet>

<div class="container-final">
  <footer class="footer-container">
    <div class="footer-item">
      <div class="footer-item-content">
        <div><img src="../assets/Frame.svg" alt="" /></div>

        <div class="footer-contacts">
          <div class="footer-logo">
            <img src="../assets/Dark/Dark/Icon.svg" alt="" />
          </div>
          <div class="numbers">
            <p>Контактный телефон</p>
            <p>+ 7 (812) 309-09-34</p>
            <p>+ 7 (965) 084-29-09</p>
          </div>
          <div class="footer-logo">
            <img src="../assets/Dark/Dark/vuesax/linear/sms.svg" alt="" />
          </div>
          <div class="numbers">
            <p>Электронная почта</p>
            <p>tustin78mail.ru</p>
            <p>infotustin.ru</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-item">
      <div class="footer-item-content">
        <div class="footer-tittle"><p>Остались вопросы?</p></div>
        <div class="footer-subtittle">
          <p>
            Узнавайте первым о скидках, предложениях и событиях еженедельно в
            своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.
          </p>
        </div>
        <div class="input-container">
          <img class="smsinput" src="../assets/smsinput.svg" alt="" />
          <input
            type="text"
            class="input-field"
            placeholder="Введите свою почту"
          />
          <button class="send-button">Отправить</button>
        </div>
      </div>
    </div>
    <div class="footer-full-width">
      <div class="footer-item-content">
        <div class="footer-bar">
          <a href="">Главная</a>
          <a href="">О компании</a>
          <a href="">Каталог</a>
        </div>
        <div class="footer-contacts">
          <div class="footer-contacts-icons">
            <img src="../assets/Dark/Light/vuesax/linear/facebook.svg" alt="" />
            <img src="../assets/Dark/Light/vuesax/linear/youtube.svg" alt="" />
            <img src="../assets/Dark/Light/vuesax/linear/whatsapp.svg" alt="" />
          </div>
          <div class="final">
            <p>© 2021-2022, EDE</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
