<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap"
  rel="stylesheet"
/>

<div class="header">
  <div class="header-left">
    <div class="header-logo">
      <img src="../assets/Frame.svg" />
    </div>
    <nav class="header-nav">
      <div class="header-item">Главная</div>
      <div class="header-item">О компании</div>
      <div class="header-item">Каталог</div>
    </nav>
  </div>
  <div class="header-right">
    <div class="header-contact">
      <img class="logo-contact" src="../assets/Phone.svg" alt="" />
      <a href="">+7 (965) 084-29-29</a>
    </div>
    <div class="header-like">
      <img src="../assets/heart 1.svg" alt="" />
    </div>
    <button class="header-cart">
      <div class="header-items">
        <img class="header-cart-logo" src="../assets/Mask group.svg" alt="" />
        <p>Пусто</p>
      </div>
    </button>
  </div>
</div>

<div class="top-bar">
  <div class="top-bar-left">
    <img src="../assets/light.svg" alt="" class="top-bar-item" />
    <div class="top-bar-item">Каталог</div>
    <div class="top-bar-item">Стройматериалы</div>
    <div class="top-bar-item">Инструменты</div>
    <div class="top-bar-item">Электрика</div>
    <div class="top-bar-item">Интерьер и одежда</div>
  </div>
  <div class="top-bar-right">
    <div class="top-bar-right-search">
      <input
        type="text"
        class="top-bar-search"
        placeholder="Поиск, например Круг зачистной "
      />
      <img src="../assets/search.svg" alt="" />
    </div>

    <img class="location" src="../assets/Location.svg" alt="" />
  </div>
</div>
