font inter * {
  font-family: Inter, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Общий контейнер футера */
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // padding: 20px;
}

/* Верхние два дива */
.footer-item {
  flex: 1;
  padding: 30px;
  box-sizing: border-box;
  // border-right: 1px solid #ccc; /* Линия между дивами */
}

/* Убираем последнюю линию для второго дива */
// .footer-container:last-child {
//   border-right: none;
// }

/* Нижний див на всю ширину */
.footer-full-width {
  flex-basis: 100%;
  padding: 10px;
  border-top: 1px solid #ccc; /* Горизонтальная линия сверху */
}

/* Вложенные элементы внутри каждого дива */
.footer-item-content {
  padding: 5px;
}

.container-final {
  height: 373px;
  background-color: #4b565e;
  padding: 0 220px;
}

.footer-contacts {
  display: flex;
  margin: 20px 0;
  align-items: first baseline;
}

.numbers {
  padding: 0 20px;

  & p {
    margin-bottom: 7px;
  }
}

.numbers p:nth-child(1) {
  font-size: 12px;
  opacity: 60%;
  color: #fff;
}

.numbers p:nth-child(2),
.numbers p:nth-child(3) {
  color: #fff;
}

.footer-tittle {
  color: #fff;
  font-size: 18px;
  margin: 10px 20px;
}

.footer-subtittle {
  color: #fff;
  font-size: 14px;
  margin: 10px 20px;
  margin-bottom: 40px;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #f0ba4e;
  border-radius: 25px;
  width: 534px;
  overflow: hidden;
  margin: 0 20px;
}

.input-field {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 25px 0 0 25px;
}

.smsinput {
  padding: 16px;
}

.send-button {
  margin: 4px 6px;
  background-color: #f0ba4e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px 25px 25px 25px; /* Закругление справа */
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap; /* Не переносить текст */
}

/* Кнопка становится темнее при наведении */
.send-button:hover {
  background-color: #f0ba4e;
}

.footer-bar {
  color: #fff;
  margin: 20px 0;
}

.footer-bar a {
  margin-right: 15px;
  font-size: 14px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
}

.footer-contacts-icons img {
  margin-right: 15px;
}

.final {
  color: #fff;
}

.custom-snackbar {
  background-color: #4caf50 !important;
  color: white !important;
  font-size: 72px;
  text-align: center;
  border-radius: 8px;
}
